@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";

body {
  text-align: center;
  background-color: lightblue;
  color: white;
  
  .no-answer {
  display: none;
}
h1 {
  font-size: 40px;

}
h2 {
  color: lightyellow;
}
}